<div class="moved-down">
  <mat-card class="content-card">
    <mat-card-title>Invoice detail</mat-card-title>
    <mat-card-content>

      <form [formGroup]="invoiceDetailsForm" (ngSubmit)="onSubmitInvoiceDetailsForm()">
        <div class="form-container">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Invoice number" formControlName="invoiceNumber" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Variable symbol" formControlName="supplierVariableSymbol" required>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Currency" formControlName="currency" required>
              <mat-option value="€">€</mat-option>
              <mat-option value="$">$</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Customer" formControlName="customer" required>
              <mat-option *ngFor="let customer of customers" [value]="customer.uuid">
                {{customer.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Supplier" formControlName="supplier" required>
              <mat-option *ngFor="let supplier of suppliers" [value]="supplier.uuid">
                {{supplier.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dp1" placeholder="Date of issue" formControlName="dateOfIssue" required>
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dp2" placeholder="Delivery date" formControlName="deliveryDate" required>
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dp3" placeholder="Due date" formControlName="dueDate" required>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Note" formControlName="note">
          </mat-form-field>
          <h3>Assets</h3>
          <div class="form-container" *ngFor="let asset of assetForm.get('items').controls; let i=index"
               [formGroup]="asset">

            <mat-form-field>
              <input [attr.id]="'name'+i" matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
              <input [attr.id]="'count'+i" matInput placeholder="Count" formControlName="count" required>
            </mat-form-field>
            <mat-form-field>
              <input [attr.id]="'unit'+i" matInput placeholder="Unit" formControlName="unit" required>
            </mat-form-field>
            <mat-form-field>
              <input [attr.id]="'unitPrice'+i" matInput placeholder="Unit Price" formControlName="unitPrice" required>
            </mat-form-field>
            <div>
              <button class="btn small-button" mat-stroked-button color="warn" type="button"
                      (click)="assetForm.get('items').removeAt(i)">Remove
              </button>
            </div>
          </div>
          <button type="button" class="btn small-button"
                  (click)="assetForm.get('items').push(buildItem('', 0, '', 0))">Add another asset
          </button>

          <button class="submit-btn small-button" color="primary" mat-raised-button type="submit"
                  [disabled]="!invoiceDetailsForm.valid">Submit
          </button>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>
