<div class="moved-down">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'invoices.title' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ 'invoices.name' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice">{{invoice.name}}</td>
                    <td mat-footer-cell *matFooterCellDef> {{ 'invoices.total' | translate }}</td>
                </ng-container>

                <ng-container matColumnDef="supplier">
                    <th mat-header-cell *matHeaderCellDef>{{ 'invoices.supplier' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{invoice.supplier.name}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef>{{ 'invoices.customer' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{invoice.customer.name}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="dateOfIssue">
                    <th mat-header-cell *matHeaderCellDef>{{ 'invoices.issueDate' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{invoice.dateOfIssue | date:'dd.MM.yyyy'}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="deliveryDate">
                    <th mat-header-cell *matHeaderCellDef>{{ 'invoices.deliveryDate' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{invoice.deliveryDate | date:'dd.MM.yyyy'}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="dueDate">
                    <th mat-header-cell *matHeaderCellDef>{{ 'invoices.dueDate' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{invoice.dueDate | date:'dd.MM.yyyy'}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>{{ 'invoices.price' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{invoice.total + invoice.currency}}</td>
                    <td mat-footer-cell *matFooterCellDef>{{getTotalCost() + getCurrency()}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>{{ 'invoices.action' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice">
                        <button mat-button (click)="onPdf(invoice)">
                            <mat-icon>save</mat-icon>
                        </button>
                        <button mat-button (click)="onEdit(invoice)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button (click)="onDelete(invoice)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
                           (page)="handlePage($event)"></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
<button class="new-entry" mat-fab color="primary" (click)="newEntry()" matTooltip="{{ 'invoices.add' | translate }}">
    <mat-icon>add</mat-icon>
</button>
