mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-input {
  width: 100%;
}

.shake-it {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

footer {
  margin-top: -50px;
  height: 34px;
  text-align: center;
}

.login-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../login-background.jpg');
}
