<div class="moved-down">
    <mat-card class="content-card">
        <mat-card-title>{{ 'supplierDetail.title' | translate }}</mat-card-title>
        <mat-card-content>

            <form [formGroup]="supplierDetailsForm" (ngSubmit)="onSubmitSupplierDetailsForm(supplierDetailsForm.value)">
                <div class="form-container">
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.name' | translate }}" formControlName="name"
                               required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.cin' | translate }}"
                               formControlName="companyIdentificationNumber"
                               required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.tin' | translate }}"
                               formControlName="taxIdentificationNumber" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.street' | translate }}" formControlName="street"
                               required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.houseNumber' | translate }}"
                               formControlName="houseNumber" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.postalCode' | translate }}"
                               formControlName="postalCode" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.town' | translate }}" formControlName="town"
                               required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.country' | translate }}"
                               formControlName="country" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.bankName' | translate }}"
                               formControlName="bankName" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'supplierDetail.iban' | translate }}" formControlName="iban"
                               required>
                    </mat-form-field>

                    <button class="submit-btn small-button" color="primary" mat-raised-button type="submit"
                            [disabled]="!supplierDetailsForm.valid">{{ 'supplierDetail.submit' | translate }}
                    </button>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>
