<div class="moved-down">
  <mat-card class="user-setting-card">
    <mat-card-title>User Settings</mat-card-title>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="User details">
          <h1>Some tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Password change">
          <br/>
          <form [formGroup]="userPasswordForm" (ngSubmit)="onSubmitUserPasswordForm(userPasswordForm.value)">
            <div class="form-container">
              <mat-form-field>
                <input matInput placeholder="Enter old password" [type]="hideOld ? 'password' : 'text'"
                       formControlName="passwordOld" required>
                <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Enter new password" [type]="hideNew ? 'password' : 'text'"
                       formControlName="passwordNew" required>
                <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Enter new password again" [type]="hideNewAgain ? 'password' : 'text'"
                       formControlName="passwordNewAgain" required>
                <mat-icon matSuffix (click)="hideNewAgain = !hideNewAgain">{{hideNewAgain ? 'visibility_off' :
                  'visibility'}}
                </mat-icon>
              </mat-form-field>
              <button class="submit-btn small-button" color="primary" mat-raised-button type="submit">Submit
              </button>
            </div>
          </form>

        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
